In [1]:
# loading packages
import os
import pandas as pd
import numpy as np
sf = pd.read_csv('Country_Example.csv')
print(sf.shape)
sf.head()

(122, 6)

     Country Abbrev  Corruption  Peace  Legal  GDP Growth
0    Albania     AL          39  1.867  3.822       3.403
1    Algeria     DZ          34  2.213  4.160       4.202
2  Argentina     AR          36  1.957  4.568      -2.298
3    Armenia     AM          33  2.218  4.126       0.208
4  Australia     AU          79  1.465  8.244       2.471

In [2]:
len(sf['Country'].value_counts())

122

In [3]:
pec = sf.groupby('Country').mean()['Peace']
gdp = sf.groupby('Country').mean()['GDP Growth']
cluster = pd.concat([pec, gdp], axis=1)
cluster['Country'] = cluster.index

In [4]:
cluster.columns = ['pec', 'GDP Growth','Country']

In [5]:
cluster.describe()

              pec  GDP Growth
count  122.000000  122.000000
mean     2.003730    2.372566
std      0.447826    3.241424
min      1.192000  -18.000000
25%      1.684750    1.432250
50%      1.969000    2.496000
75%      2.280500    4.080000
max      3.399000    7.958000

In [6]:
cluster1 = cluster[cluster['GDP Growth'] < 2.496000]
cluster1.index

Index(['Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Belgium',
       'Brazil', 'Burundi', 'Canada', 'Chad', 'Chile', 'Colombia',
       'Czech Republic', 'Democratic Republic of Congo', 'Denmark', 'Ecuador',
       'El Salvador', 'Estonia', 'Finland', 'France', 'Gabon', 'Germany',
       'Greece', 'Hungary', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kuwait', 'Latvia', 'Lebanon', 'Liberia', 'Lithuania',
       'Malawi', 'Mauritania', 'Mexico', 'Montenegro', 'Morocco', 'Nepal',
       'Netherlands', 'Nigeria', 'Norway', 'Portugal', 'Russia',
       'Saudi Arabia', 'Singapore', 'Slovenia', 'South Africa', 'Switzerland',
       'Taiwan', 'The FYR of Macedonia', 'Trinidad and Tobago', 'Tunisia',
       'Ukraine', 'United Kingdom', 'United States', 'Uruguay', 'Venezuela',
       'Yemen', 'Zimbabwe'],
      dtype='object', name='Country')

In [7]:
cluster_temp = cluster[cluster['GDP Growth'] >= 2.496000]
cluster2 = cluster_temp[cluster_temp.pec <1.969000]
cluster2.index

Index(['Albania', 'Bosnia and Herzegovina', 'Botswana', 'Bulgaria',
       'Costa Rica', 'Croatia', 'Cyprus', 'Ghana', 'Iceland', 'Indonesia',
       'Ireland', 'Korea (South)', 'Madagascar', 'Malaysia', 'Mauritius',
       'Moldova', 'Mozambique', 'New Zealand', 'Panama', 'Poland', 'Qatar',
       'Romania', 'Serbia', 'Sierra Leone', 'Slovakia', 'Spain', 'Sweden',
       'Tanzania', 'United Arab Emirates', 'Vietnam', 'Zambia'],
      dtype='object', name='Country')

In [8]:
cluster3 = cluster_temp[cluster_temp.pec >=1.969000]
cluster3.index

Index(['Algeria', 'Bahrain', 'Bangladesh', 'Benin', 'Bolivia', 'Cameroon',
       'China', 'Dominican Republic', 'Egypt', 'Ethiopia', 'Georgia',
       'Guatemala', 'Honduras', 'India', 'Iran', 'Israel', 'Kenya', 'Mali',
       'Nicaragua', 'Oman', 'Pakistan', 'Paraguay', 'Peru', 'Philippines',
       'Rwanda', 'Senegal', 'Sri Lanka', 'Thailand', 'Turkey', 'Uganda'],
      dtype='object', name='Country')

In [9]:
def get_group(x):
    if x in cluster1.index:
        return (0)
    elif x in cluster2.index:
        return (1)
    else:
        return (2)
sf['Label'] = sf.Country.apply(get_group)

In [10]:
sf.head()

     Country Abbrev  Corruption  Peace  Legal  GDP Growth  Label
0    Albania     AL          39  1.867  3.822       3.403      1
1    Algeria     DZ          34  2.213  4.160       4.202      2
2  Argentina     AR          36  1.957  4.568      -2.298      0
3    Armenia     AM          33  2.218  4.126       0.208      0
4  Australia     AU          79  1.465  8.244       2.471      0

In [11]:
sf.sort_values('Label')

         Country Abbrev  Corruption  Peace  Legal  GDP Growth  Label
60       Lebanon     LB          28  2.752  4.331       1.000      0
74         Nepal     NP          29  2.026  4.941       0.561      0
72       Morocco     MA          37  2.086  5.500       1.487      0
71    Montenegro     ME          45  1.884  4.192       2.358      0
69        Mexico     MX          30  2.557  5.194       2.302      0
..           ...    ...         ...    ...    ...         ...    ...
93       Senegal     SN          45  1.978  4.942       6.574      2
85   Philippines     PH          35  2.511  5.331       6.839      2
91        Rwanda     RW          54  2.323  6.508       5.932      2
106     Thailand     TJ          35  2.312  5.215       3.230      2
80          Oman     OM          45  2.016  6.280       3.057      2

[122 rows x 7 columns]